.product{
    margin-left: 60px;
    margin-right: 30px;
}

.craftheading h1{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.craftheading{
    padding-bottom: 10px;
}

.product_arrange{
    display: flex;
    justify-content: space-evenly;
}