
/* Full-width input fields */

.usernameinput, .passwordinput {
  width: 95%;
  padding: 8px 8px;
  display:block;
  box-sizing:content-box;
}

.loginbutton {
    border: none;
  }
  
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .container1 {
    padding: 15px;
  }
  
  .id01{
      margin-left: 35%;
      margin-right: 35%;
  }
  
  .loginbutton{
    color: black;
  }

  .register{
    padding: 5px 97px;
    color: black;
  }

  .forgetpassword{
    color: black;
    text-align: justify;
  }

  .register:hover,.forgetpassword:hover,.loginbutton:hover{
    color: black;
  }

  h5{
      color: #767676;
      text-align: center;
  }

  .loginbutton{
    float: left;
  }

  .forgetpassword{
    float: right;
  }
