.order{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    margin:10px 0;
    border: 1px solid black;
    position: relative;
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: rgb(249, 249, 249);
    
}

.order_id{
    position: absolute;
    top: 40px;
    right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.order_total{
    font-weight: 500;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}