.categorybar{
    padding-top: 20px;
}

.header1{
    display:flex;
    justify-content: space-evenly;
}

.categorybar{
    padding-top: 20px;
}

.scrollable-dropdown{
    height: auto;
    max-height:320px;  /* Increase / Decrease value as per your need */
    overflow-x: hidden;
}

.account{
    padding-top: 20px;
}

.account button{
    background-color: white;
    border: 1px solid #ccc;
    padding:6px 12px;
}

.account button:hover{
    background-color: #f2f2f2;
  }

.in-account{
    color: black;
}

.account button a{
    text-decoration: none;
}

.cart{
    padding-top: 20px;
     
  }
  .cart button{
    background-color: white;
    border: 1px solid #ccc;
    padding:6px 12px;
}
.cart button:hover{
    background-color: #f2f2f2;
  }
  .in-cart{
    color: black;
}
.cart button a{
    text-decoration: none;
}

.header_option{
    display: inline-flex ;
    margin-left: 10px;
    margin-right: 10px;
}

.return{
    padding-top:35px;
    padding-right:20px;
}

.order_text:hover{
    background-color: black;
    color: white;
}

.signin_text:hover{
    background-color: black;
    color: white;
}

.signin{
    padding-top:0px;
    padding-right:35px;
    text-decoration: none;
}


.header_nav{
    display: inline-flex;
    justify-content: space-evenly;
}



.signin_text,.order_text{
    border: 1px solid #ccc;
    padding: 7px 20px;
    color: black;
}

.header_basket{
    padding-top: 35px;
    font-size: 17px;
}

.signin_user_display{
    color:rgb(3, 165, 3);
}







