.title-search{
    text-align: center;
}

.beforefilterData{
    display:inline-flex;
    height:80%;
    
  }

  .noSearchBar{
    padding-top: 5px;
    align-items: inherit;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }