.product{
    margin-left: 60px;
    margin-right: 30px;
}

.studybookheading h1{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.studybookheading{
    padding-bottom: 10px;
}

.product_arrange{
    display: flex;
    justify-content: space-evenly;
}

.beforefilterData{
    display:inline-flex;
    height:80%;
}

.noSearchBar{
    padding-top: 5px;
    align-items: inherit;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}