.product-row{
    display: inline-flex;
}
.products{
    padding-right: 30px;
    padding-left: 40px;
}

.today-deal-label{
    text-align: center;
    font-size: 30px;
    background-repeat:no-repeat;
    background-position: center;
  }

  .beforefilterData{
    display:inline-flex;
    height:80%;
  }

  .noSearchBar{
    padding-top: 5px;
    align-items: inherit;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }